$ADM: yellow;
$ADM-text:black;
$ENT: orange;
$ENT-text:black;
$OIG: green;
$OIG-text:white;
$AIM: darkblue;
$AIM-text:white;
$EUC: cyan;
$EUC-text:black;
$OPN: yellowgreen;
$OPN-text:black;
$ALX: aqua;
$ALX-text:black;
$FSI: crimson;
$FSI-text:white;
$PNU: darkmagenta;
$PNU-text:white;
$ANT: darkcyan;
$ANT-text:black;
$GAM: darkgreen;
$GAM-text:white;
$RET: darkgrey;
$RET-text:white;
$API: goldenrod;
$API-text:black;
$GPS: gold;
$GPS-text:black;
$ROB: darkred;
$ROB-text:white;
$ARC: darkorchid;
$ARC-text:white;
$HLC: darkolivegreen;
$HLC-text:white;
$SEC: indigo;
$SEC-text:white;
$ARV: maroon;
$ARV-text:white;
$IOT: sienna;
$IOT-text:white;
$STG: seagreen;
$STG-text:white;
$AUT: yellow;
$AUT-text:black;
$LFS: orange;
$LFS-text:black;
$STP: green;
$STP-text:white;
$BLC: darkblue;
$BLC-text:white;
$MDS: cyan;
$MDS-text:black;
$SVS: yellowgreen;
$SVS-text:black;
$CMP: aqua;
$CMP-text:black;
$MFG: crimson;
$MFG-text:white;
$TLC: darkmagenta;
$TLC-text:white;
$CMY: darkcyan;
$CMY-text:black;
$MGT: darkgreen;
$MGT-text:white;
$TRH: darkgrey;
$TRH-text:white;
$CON: goldenrod;
$CON-text:black;
$MKT: gold;
$MKT-text:black;
$WIN: darkred;
$WIN-text:white;
$DAT: darkorchid;
$DAT-text:white;
$MOB: darkolivegreen;
$MOB-text:white;
$WPS: indigo;
$WPS-text:white;
$DOP: maroon;
$DOP-text:white;
$NET: sienna;
$NET-text:white;
$WPT: seagreen;
$WPT-text:white;
$NFX: yellow;
$NFX-text:black;
$AMZ: orange;
$AMZ-text:black;